{% extends "layout.html" %}


{% block content %}

<div class="about-page-container">
  <h1>About SLib</h1>
  <div class="about-info">
    <p>This site developed for personal use as web development learning programming project.</p><br>
    <p><b>Author:</b> Santa Baltmane </p>
    <p>SLib (short for "Santas Library").</p>
    <p><b>To build this project used:</b> Python programming language (Flask - web framework for Python), HTML, CSS, SQLAlchemy (database) and JavaScript for additional functuality.</p>

    <p><b>Main features and Information about SLib:</b> Collection of Artworks(Novels/Books, Movies, TV Shows and Animations) with wide range of data filtering options.</p>
    <p>Image files are converted and saved into database as Binary data.</p>
    <p><b>Additional features:</b> Comment section under each Artwork, Options to create/add new Artwork and edit it any time, add additional tag/hashtag to each Artwork, delete/remove Artwork, brand as one of <i>Favourite Artworks </i> by adding star, rating each Artwork, change Artwork status as <i>seen, planning to watch, watching now</i>, default pictures for each Artwork Category if there is not image file added. </p>

    <p>Data filtering by <i>category, year, rate, status, tags and favourite</i>.</p>
    <p> Thank you for visiting SLib.</p>
    <p>Any questions/comments? Yo can reach me by email: <b>baltmane.santa@gmail.com</b></p>
  </div>
</div>


{% endblock %}
