<div class="footer-wrapper">
  <div class="parts-footers">
    <div class="footer-part-one">
      <a class="nav-link hover-border cursor" href="{{url_for('home')}}">Home</a>
    </div>
    <div class="footer-part-two flex-row">
      <span class="size-small">&#9737;</span><span class="size-medium">&#9737;</span><span class="size-large">&#9737;</span><p class="pd nav-link">2021</p><span class="size-large">&#9737;</span><span class="size-medium">&#9737;</span><span class="size-small">&#9737;</span>
    </div>
    <div class="footer-part-three">
      <a class="nav-link hover-border cursor" href="{{url_for('about')}}">About Project</a>
    </div>
  </div>

</div>
